{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions: Page 3
{% endblock %}

{% block content %}

<h3>Changes in supply</h3>

<ul>

	<li>Additional supply: If the auction clearing price would be above a targeted maximum price of {{session.config.price_containment_trigger}}, then additional permits will be offered for sale to reduce the likelihood that the auction price will rise above the targeted maximum. A stock of {{session.config.price_containment_reserve_amount}} permits is available for this purpose. This stock is replenished each period.</li>

{% if session.config.ecr_treatment == 'Step' %}	
<li>Supply reductions: Of the permits for sale at auction, up to {{session.config.initial_ecr_reserve_amount}} permits are in a compliance reserve and may be retired to keep the permit market from becoming oversupplied. If the auction price would fall below ${{session.config.ecr_trigger_price}}, permits in the reserve will be removed from the available supply in the auction so that the price will not fall below ${{session.config.ecr_trigger_price}}. The number of permits that can be removed is limited by the size of the reserve. Once the reserve is exhausted, the auction price would be allowed to fall below ${{session.config.ecr_trigger_price}}. </li>
	
	<li>For example, given the bids of 10, 9, 8, 8 and 6 and a trigger price of $9, if there are 4 permits for sale, but with a trigger price of $9, one permit would be retired from the reserve and only three would be sold. In this case, the auction price would rise from $6 to $8, because the first rejected bid is now $8. The compliance reserve is the same in all periods.</li>

{% elif  session.config.ecr_treatment == 'Linear' %}
	<li>Supply reductions: Of the permits for sale at auction, up to {{session.config.initial_ecr_reserve_amount}} permits may be retired to keep the permit market from becoming oversupplied. If the auction price would fall below {{session.config.ecr_trigger_price}}, then for each $0.50 the price would fall below the trigger price, up to 2 permits will be removed from sale before the auction price is set. The final auction closing price will be calculated after the reserve permits have been removed from those available for sale.</li> 
		
	<li>For example, with a low trigger price of $8, then to keep the auction price from closing at $7.50, up to 2 permits may be retired. To keep the price from closing at $7, up to 4 may be retired, etc. The reserve of {{session.config.initial_ecr_reserve_amount}} permits will be exhausted once the price reaches the reserve price. So, given the bids of $10, $9, $8, $8 and $6 and a trigger price of $8, if there are 4 permits for sale, two permits <i>could</i> be retired, but in this case, only one needs to be retired to prevent the price from falling below $8. With the retirement of one permit, the auction price would rise from $6 to $8, because the first rejected bid would now be $8.</li>

{% elif  session.config.ecr_treatment == 'Holt linear' %}
	<li>Supply reductions: Of the permits for sale at auction, up to {{session.config.initial_ecr_reserve_amount}} permits may be retired to keep the permit market from becoming oversupplied. If the auction price would fall below {{session.config.ecr_trigger_price}}, then for each $1 the price would fall below the trigger price, up to 3 permits will be removed from sale before the auction price is set. The final auction closing price will be calculated after the reserve permits have been removed from those available for sale.</li> 
		
	<li>For example, suppose a low trigger price of $8, then to keep the auction price from closing at $7, up to 3 permits may be retired. To keep the price from closing at $6, up to 6 may be retired, etc. The reserve of {{session.config.initial_ecr_reserve_amount}} permits will be exhausted once the price reaches the reserve price. So, given the bids of $10, $9, $8, $8 and $6 and a trigger price of $8, if there are 4 permits for sale, up to three permits <i>could</i> be retired. In this example, only one permit needs to be retired to prevent the price from falling below $8. With the retirement of one permit, the auction price would rise from $6 to $8, because the first rejected bid would now be $8.</li>
{% endif %}
</ul>

    {% next_button %}
{% endblock %}

{% block styles %}

    <!-- define a style -->
	<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
		font-size: 1em;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
	ul, li {
	    font-family: verdana;
	    font-size: larger;
		padding-bottom: 10px;
	}
	</style>


{% endblock %}
